{{!-- {{#if post.access}} --}}
<div class="comment container small">
    <script defer
        src="https://commento.stephann.dev/js/commento.js"
        data-auto-init="true"
        data-no-fonts="true"
    ></script>
    <div id="commento"></div>
</div>
{{!-- {{/if}} --}}
